body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

h1 {
    font-weight: 600;
    color: rgb(1, 1, 78);
    font-size: 60px;
}

h3 {
    font-weight: 600;
    text-transform: capitalize;
}
h1 span {
    color: darkorange;
}

.flexible-container {
    display: flex;
    align-items: center;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.half-width {
    width: 50%;
    padding-left: 5%;
}

div img {
    width: 80%;
    text-align: right;
}

.hiremeButton {
    text-decoration: none;
    font-weight: 600;
    background-image: linear-gradient(45deg, orange, tomato);
    padding: 6px 14px;
    color: #fff;
    border-radius: 5px;
}

.dream-big {

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    padding-left: 5%;
}